<!DOCTYPE html>
<html lang="en-US">

<head>

    <!-- Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets
    ============================================= -->
    <link href="../static/css/css-assets_index.css" rel="stylesheet">
    <link href="../static/css/style_index.css" rel="stylesheet">

    <!-- Favicon
	============================================= -->
    <link rel="shortcut icon" href="../static/img/logo_tju_2.png">

    <!-- Title
    ============================================= -->
    <title>Welcome to SAIL</title>

</head>

<body class="homepage">

<!-- Document Full Container
============================================= -->
<div id="full-container">

    <!-- Header
    ============================================= -->
    <header id="header">

        <div id="header-bar-1" class="header-bar sticky">

            <div class="header-bar-wrap">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hb-content">
                                <a class="logo logo-header" target="_blank" href="http://www.tju.edu.cn">
                                    <img src="../static/img/logo_tju_3.png">
                                </a><!-- .logo end -->
                                <ul id="menu-main" class="menu-main">
                                    <li><a href="#banner" data-scroll-nav="0" class="current">Home</a></li>
                                    <li><a href="#about-us" data-scroll-nav="1">About Us</a></li>
                                    <li><a href="#people" data-scroll-nav="2">People</a></li>
                                    <li><a href="#our-works" data-scroll-nav="3">Our Works</a></li>
                                    <li><a href="#pricing-plans" data-scroll-nav="4">Join Us</a></li>
                                    <li><a href="#newsletter-subscribe" data-scroll-nav="6">Contact Us</a></li>
                                </ul><!-- #menu-main end -->
                                <div class="menu-mobile-btn">
                                    <div class="hamburger hamburger--slider">
											<span class="hamburger-box">
												<span class="hamburger-inner"></span>
											</span>
                                    </div>
                                </div><!-- .menu-mobile-btn end -->
                            </div><!-- .hb-content end -->
                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->

            </div><!-- .header-bar-wrap -->

        </div><!-- #header-bar-1 end -->

    </header><!-- #header end -->

    <!-- Banner
    ============================================= -->
    <section id="banner" data-scroll-index="0">

        <div class="banner-parallax" data-banner-height="750">
            <div class="slider-banner">
                <ul class="slick-slider slider-img-bg">
                    <li>
                        <div class="overlay-colored color-bg-dark opacity-70"></div><!-- .overlay-colored end -->
                        <div class="slide">
                            <img src="../static/img/img_sky.jpeg">
                            <div class="slide-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">

                                            <div class="banner-center-box text-white text-center">
                                                <h3>Welcome to</h3>
                                                <h2>
                                                    Software Analysis and Intelligence Lab
                                                </h2>
                                                <a class="btn colorful large hover-dark mt-30 move-top"
                                                   href="#about-us">Get
                                                    Started</a>
                                            </div><!-- .banner-center-box end -->

                                        </div><!-- .col-md-10 end -->
                                    </div><!-- .row end -->
                                </div><!-- .container end -->
                            </div><!-- .slide-content end -->
                        </div><!-- .slide end -->
                    </li>
                    <li>
                        <div class="overlay-colored color-bg-dark opacity-70"></div><!-- .overlay-colored end -->
                        <div class="slide">
                            <img src="../static/img/img_star.jpeg" alt="">
                            <div class="slide-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">

                                            <div class="banner-center-box text-white text-center">
                                                <h3>Welcome to</h3>
                                                <h2>
                                                    Software Analysis and Intelligence Lab
                                                </h2>
                                                <a class="btn colorful large hover-dark mt-30 move-top" href="#">Get
                                                    Started</a>
                                            </div><!-- .banner-center-box end -->

                                        </div><!-- .col-md-10 end -->
                                    </div><!-- .row end -->
                                </div><!-- .container end -->
                            </div><!-- .slide-content end -->
                        </div><!-- .slide end -->
                    </li>
                    <li>
                        <div class="overlay-colored color-bg-dark opacity-70"></div><!-- .overlay-colored end -->
                        <div class="slide">
                            <img src="../static/img/img_sunset.jpeg" alt="">
                            <div class="slide-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">

                                            <div class="banner-center-box text-white text-center">
                                                <h3>Welcome to</h3>
                                                <h2>
                                                    Software Analysis and Intelligence Lab
                                                </h2>
                                                <a class="btn colorful large hover-dark mt-30 move-top" href="#">Get
                                                    Started</a>
                                            </div><!-- .banner-center-box end -->

                                        </div><!-- .col-md-10 end -->
                                    </div><!-- .row end -->
                                </div><!-- .container end -->
                            </div><!-- .slide-content end -->
                        </div><!-- .slide end -->
                    </li>
                </ul><!-- .slick-slider end -->
            </div><!-- .slider-banner end -->
        </div><!-- .banner-parallax end -->

    </section><!-- #banner end -->

    <!-- Content
    ============================================= -->
    <section id="content">

        <div id="content-wrap">

            <!-- === About Us =========== -->
            <div id="about-us" class="section-flat" data-scroll-index="1">

                <div class="section-content">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title">
                                    <h3>About Us</h3>
                                    <h2>Software Analysis and Intelligence Lab</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elity sed do eiusmod tempor
                                        ididunt labore east dolore magna you aliqua. Ulter enim ad minim veniam to quis
                                        nostrud ction ullamco laboris nisi.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elity sed do eiusmod tempor
                                        ididunt labore east dolore magna you aliqua. Ulter enim ad minim veniam to quis
                                        nostrud ction ullamco laboris nisi.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elity sed do eiusmod tempor
                                        ididunt labore east dolore magna you aliqua. Ulter enim ad minim veniam to quis
                                        nostrud ction ullamco laboris nisi.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elity sed do eiusmod tempor
                                        ididunt labore east dolore magna you aliqua. Ulter enim ad minim veniam to quis
                                        nostrud ction ullamco laboris nisi.
                                    </p>

                                </div><!-- .section-title end -->

                            </div><!-- .col-md-6 end -->
                        </div><!-- .row end -->
                    </div><!-- .container end -->

                </div><!-- .section-content end -->

            </div><!-- .section-flat end -->


            <!-- === People =========== -->
            <div id="people" class="section-flat" data-scroll-index="2">

                <div class="section-content">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title">
                                    <h3>People</h3>
                                    <div class="slider-testimonials">
                                        <ul class="slick-slider">
                                            <li>
                                                <div class="testimonial-single-1">
                                                    <a target="_blank"
                                                       href="http://www.tju.edu.cn">
                                                        <div class="ts-person">

                                                            <div class="ts-img">
                                                                <img src="../static/img/img_wang.jpeg">
                                                            </div><!-- .ts-img end -->
                                                            <div class="ts-name">
                                                                <h5>Zan Wang（王赞）</h5>
                                                                <span>Professor</span>
                                                            </div>
                                                            <!-- .ts-name end -->
                                                        </div>
                                                    </a>
                                                    <!-- .ts-person end -->
                                                    <div class="ts-content">
                                                        <p>
                                                            Lorem ipsum dolor sit amet consectetur adipisicing elity sed
                                                            do
                                                            eiusmod tempor inc ididunt labore east
                                                            dolore magna you
                                                            aliqua. Ulter enim ad minim veniam to quis nostrud exercita
                                                            tion
                                                            ullamco laboris nisi.Lorem ipsum dolor
                                                            labore east
                                                            dolore magna you aliqua.
                                                        </p>
                                                    </div><!-- .ts-content end -->
                                                </div><!-- .testimonial-single-1 -->
                                            </li>
                                            <li>
                                                <div class="testimonial-single-1">
                                                    <a target="_blank"
                                                       href="http://www.tju.edu.cn">
                                                        <div class="ts-person">
                                                            <div class="ts-img">
                                                                <img src="../static/img/img_wang.jpeg"
                                                                     alt="">
                                                            </div><!-- .ts-img end -->
                                                            <div class="ts-name">
                                                                <h5>Shuang Liu（刘爽）</h5>
                                                                <span>Professor</span>
                                                            </div><!-- .ts-name end -->
                                                        </div>
                                                    </a><!-- .ts-person end -->
                                                    <div class="ts-content">
                                                        <p>
                                                            Lorem ipsum dolor sit amet consectetur adipisicing elity sed
                                                            do
                                                            eiusmod tempor inc ididunt labore east
                                                            dolore magna you
                                                            aliqua. Ulter enim ad minim veniam to quis nostrud exercita
                                                            tion
                                                            ullamco laboris nisi.Lorem ipsum dolor
                                                            labore east
                                                            dolore magna you aliqua.
                                                        </p>
                                                    </div><!-- .ts-content end -->
                                                </div><!-- .testimonial-single-1 -->
                                            </li>
                                            <li>
                                                <div class="testimonial-single-1">
                                                    <a target="_blank"
                                                       href="http://www.tju.edu.cn">
                                                        <div class="ts-person">
                                                            <div class="ts-img">
                                                                <img src="../static/img/img_wang.jpeg"
                                                                     alt="">
                                                            </div><!-- .ts-img end -->
                                                            <div class="ts-name">
                                                                <h5>Junjie Chen（陈俊洁）</h5>
                                                                <span>Professor</span>
                                                            </div><!-- .ts-name end -->
                                                        </div>
                                                    </a><!-- .ts-person end -->
                                                    <div class="ts-content">
                                                        <p>
                                                            Lorem ipsum dolor sit amet consectetur adipisicing elity sed
                                                            do
                                                            eiusmod tempor inc ididunt labore east
                                                            dolore magna you
                                                            aliqua. Ulter enim ad minim veniam to quis nostrud exercita
                                                            tion
                                                            ullamco laboris nisi.Lorem ipsum dolor
                                                            labore east
                                                            dolore magna you aliqua.
                                                        </p>
                                                    </div><!-- .ts-content end -->
                                                </div><!-- .testimonial-single-1 -->
                                            </li>
                                        </ul><!-- .slick-slider end -->
                                        <div class="slick-arrows"></div><!-- .slick-arrows end -->
                                    </div><!-- .slider-testimonials end -->
                                </div>
                            </div><!-- .col-md-12 end -->

                        </div><!-- .row end -->
                    </div><!-- .container end -->

                </div><!-- .section-content end -->

            </div><!-- .section-flat end -->

            <!-- === Our Works =========== -->
            <div id="our-works" class="section-flat" data-scroll-index="3">

                <div class="section-content">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">

                                <div class="section-title text-center">
                                    <h5>Our Projects</h5>
                                    <h2>Latest Projects</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elity sed do eiusmod tempor
                                        inc ididunt labore east
                                        dolore magna you
                                    </p>
                                </div><!-- .section-title end -->

                            </div><!-- .col-md-8 end -->
                        </div><!-- .row end -->
                    </div><!-- .container end -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="slider-projects">
                                    <ul class="slick-slider">
                                        <li>
                                            <div class="box-preview box-project">
                                                <div class="box-img img-bg">
                                                    <a href="javascript:;"><img
                                                            src="images/files/our-projects/img-1.jpg" alt=""></a>
                                                    <div class="overlay">
                                                        <div class="overlay-inner">
                                                            <a href="https://vimeo.com/45830194"
                                                               class="icon-fullscreen lightbox-iframe"><i
                                                                    class="fas fa-compress"></i></a>
                                                            <h4><a href="javascript:;">Website Design</a></h4>

                                                            <ul class="project-categories">
                                                                <li><a href="javascript:;">Web</a>,</li>
                                                                <li><a href="javascript:;">Corporate</a></li>
                                                            </ul><!-- .project-categories end -->
                                                        </div><!-- .overlay-inner end -->
                                                    </div><!-- .overlay end -->
                                                </div><!-- .box-img end -->
                                            </div><!-- .box-preview end -->
                                        </li>
                                        <li>
                                            <div class="box-preview box-project">
                                                <div class="box-img img-bg">
                                                    <a href="javascript:;"><img
                                                            src="images/files/our-projects/img-3.jpg" alt=""></a>
                                                    <div class="overlay">
                                                        <div class="overlay-inner">
                                                            <a href="https://vimeo.com/45830194"
                                                               class="icon-fullscreen lightbox-iframe"><i
                                                                    class="fas fa-compress"></i></a>
                                                            <h4><a href="javascript:;">Branding Design</a></h4>

                                                            <ul class="project-categories">
                                                                <li><a href="javascript:;">Branding</a>,</li>
                                                                <li><a href="javascript:;">Design</a></li>
                                                            </ul><!-- .project-categories end -->
                                                        </div><!-- .overlay-inner end -->
                                                    </div><!-- .overlay end -->
                                                </div><!-- .box-img end -->
                                            </div><!-- .box-preview end -->
                                        </li>
                                        <li>
                                            <div class="box-preview box-project">
                                                <div class="box-img img-bg">
                                                    <a href="javascript:;"><img
                                                            src="images/files/our-projects/img-5.jpg" alt=""></a>
                                                    <div class="overlay">
                                                        <div class="overlay-inner">
                                                            <a href="https://vimeo.com/45830194"
                                                               class="icon-fullscreen lightbox-iframe"><i
                                                                    class="fas fa-compress"></i></a>
                                                            <h4><a href="javascript:;">Website Analytics</a></h4>

                                                            <ul class="project-categories">
                                                                <li><a href="javascript:;">SEO</a>,</li>
                                                                <li><a href="javascript:;">Analytics</a></li>
                                                            </ul><!-- .project-categories end -->
                                                        </div><!-- .overlay-inner end -->
                                                    </div><!-- .overlay end -->
                                                </div><!-- .box-img end -->
                                            </div><!-- .box-preview end -->
                                        </li>
                                        <li>
                                            <div class="box-preview box-project">
                                                <div class="box-img img-bg">
                                                    <a href="javascript:;"><img
                                                            src="images/files/our-projects/img-6.jpg" alt=""></a>
                                                    <div class="overlay">
                                                        <div class="overlay-inner">
                                                            <a href="https://vimeo.com/45830194"
                                                               class="icon-fullscreen lightbox-iframe"><i
                                                                    class="fas fa-compress"></i></a>
                                                            <h4><a href="javascript:;">Web Development</a></h4>

                                                            <ul class="project-categories">
                                                                <li><a href="javascript:;">Development</a>,</li>
                                                                <li><a href="javascript:;">WordPress</a></li>
                                                            </ul><!-- .project-categories end -->
                                                        </div><!-- .overlay-inner end -->
                                                    </div><!-- .overlay end -->
                                                </div><!-- .box-img end -->
                                            </div><!-- .box-preview end -->
                                        </li>
                                        <li>
                                            <div class="box-preview box-project">
                                                <div class="box-img img-bg">
                                                    <a href="javascript:;"><img
                                                            src="images/files/our-projects/img-4.png" alt=""></a>
                                                    <div class="overlay">
                                                        <div class="overlay-inner">
                                                            <a href="https://vimeo.com/45830194"
                                                               class="icon-fullscreen lightbox-iframe"><i
                                                                    class="fas fa-compress"></i></a>
                                                            <h4><a href="javascript:;">Mobile Applications</a></h4>

                                                            <ul class="project-categories">
                                                                <li><a href="javascript:;">Android</a>,</li>
                                                                <li><a href="javascript:;">IOS</a></li>
                                                            </ul><!-- .project-categories end -->
                                                        </div><!-- .overlay-inner end -->
                                                    </div><!-- .overlay end -->
                                                </div><!-- .box-img end -->
                                            </div><!-- .box-preview end -->
                                        </li>
                                    </ul><!-- .slick-slider end -->
                                </div><!-- .slider-projects end -->
                                <a class="btn colorful medium hover-dark mt-50 center-horizontal" href="#">View All
                                    Projects</a>

                            </div><!-- .col-md-12 end -->
                        </div><!-- .row end -->
                    </div><!-- .container-fluid end -->

                </div><!-- .section-content end -->

            </div><!-- .section-flat end -->


            <!-- === Newsletter Subscribe =========== -->
            <div id="newsletter-subscribe" class="section-parallax" data-scroll-index="6">

                <!-- <img src="images/files/parallax-bg/img-2.jpg" alt=""> -->
                <div class="overlay-colored color-bg-gradient-1 opacity-50"></div>
                <!-- .overlay-colored end -->
                <div class="section-content">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">

                                <div class="section-title text-center text-white">
                                    <h2>Subscribe a Newsletter</h2>
                                    <p>
                                        Subscribe newsletter to get update about offer, new technology
                                    </p>
                                </div><!-- .section-title end -->

                            </div><!-- .col-md-8 end -->
                            <div class="col-md-6 col-md-offset-3">

                                <form id="form-newsletter-register" class="form-inline">
                                    <div class="form-group">
                                        <div class="box-field">
                                            <input type="text" name="email" class="form-control"
                                                   placeholder="Enter Your Email Address">
                                            <button type="submit" class="form-control icon"><i
                                                    class="fas fa-long-arrow-alt-up"></i></button>
                                        </div><!-- .box-field end -->
                                    </div><!-- .form-group end -->
                                </form><!-- #form-newsletter-register end -->


                            </div><!-- .col-md-6 end -->

                        </div><!-- .row end -->
                    </div><!-- .container end -->

                </div><!-- .section-content end -->

            </div><!-- .section-parallax end -->

        </div><!-- #content-wrap -->

    </section><!-- #content end -->

    <!-- Footer
    ============================================= -->
    <footer id="footer">

        <div id="footer-bar-1" class="footer-bar text-white">

            <div class="footer-bar-wrap">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="fb-row">

                                <div class="row">
                                    <div class="col-md-3">

                                        <img class="mb-30" src="images/files/logo-header.png" alt="">
                                        <ul class="list-contact-info">
                                            <li>
                                                <i class="fas fa-envelope"></i>
                                                <div class="info-content">
                                                    <span>info@itgeeks.info</span>
                                                </div><!-- .info-content end -->
                                            </li>
                                            <li>
                                                <i class="fas fa-phone"></i>
                                                <div class="info-content">
                                                    <span>55046994(965)+</span>
                                                </div><!-- .info-content end -->
                                            </li>
                                            <li>
                                                <i class="fas fa-map-marker-alt"></i>
                                                <div class="info-content">
                                                    <span>Al Noor Tower, Ibn Sina Mansoura</span>
                                                </div><!-- .info-content end -->
                                            </li>
                                        </ul><!-- .list-contact-info end -->

                                    </div><!-- .col-md-3 end -->
                                    <div class="col-md-3 mt-md-50">
                                        <h4>
                                            Useful Links
                                        </h4>
                                        <ul class="list-links">
                                            <li><a href="javascript:;">What We Do</a></li>
                                            <li><a href="javascript:;">Our Projects</a></li>
                                            <li><a href="javascript:;">FAQ</a></li>
                                            <li><a href="javascript:;">News & Articles</a></li>
                                            <li><a href="javascript:;">Get In Touch</a></li>
                                        </ul><!-- .list-links -->
                                    </div><!-- .col-md-3 end -->
                                    <div class="col-md-3 mt-md-50">
                                        <h4>
                                            Support
                                        </h4>
                                        <ul class="list-links">
                                            <li><a href="javascript:;">Contact Us</a></li>
                                            <li><a href="javascript:;">Submit a Ticket</a></li>
                                            <li><a href="javascript:;">Professional Services</a></li>
                                            <li><a href="javascript:;">Support System</a></li>
                                            <li><a href="javascript:;">Refund Policy</a></li>
                                        </ul><!-- .list-links -->
                                    </div><!-- .col-md-3 end -->
                                    <div class="col-md-3 mt-md-50">
                                        <h4>
                                            Gallery
                                        </h4>
                                        <ul class="list-gallery-thumbs">
                                            <li><a href="javascript:;"><img src="images/files/gallery-thumbs/img-1.jpg"
                                                                            alt=""></a></li>
                                            <li><a href="javascript:;"><img src="images/files/gallery-thumbs/img-2.jpg"
                                                                            alt=""></a></li>
                                            <li><a href="javascript:;"><img src="images/files/gallery-thumbs/img-3.jpg"
                                                                            alt=""></a></li>
                                            <li><a href="javascript:;"><img src="images/files/gallery-thumbs/img-4.jpg"
                                                                            alt=""></a></li>
                                            <li><a href="javascript:;"><img src="images/files/gallery-thumbs/img-5.jpg"
                                                                            alt=""></a></li>
                                            <li><a href="javascript:;"><img src="images/files/gallery-thumbs/img-6.jpg"
                                                                            alt=""></a></li>
                                        </ul><!-- .list-gallery-thumbs -->
                                    </div><!-- .col-md-3 end -->
                                </div><!-- .row end -->

                            </div><!-- .fb-row end -->

                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->

            </div><!-- .footer-bar-wrap -->

        </div><!-- #footer-bar-1 end -->

        <div id="footer-bar-2" class="footer-bar text-white">

            <div class="footer-bar-wrap">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="fb-row">
                                <div class="copyrights-message">
                                    <span>All right reserved to</span> <a href="http://itgeeks.info/" target="_blank">itGeeks</a>
                                    <span>©2020</span>
                                </div>
                                <ul class="social-icons x4 grey hover-white icon-only">
                                    <li><a class="si-youtube" href="javascript:;"><i class="fa fa-youtube"></i><i
                                            class="fa fa-facebook"></i></a></li>
                                    <li><a class="si-twitter" href="javascript:;"><i class="fa fa-twitter"></i><i
                                            class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a class="si-facebook" href="javascript:;"><i class="fa fa-facebook"></i><i
                                            class="fa fa-twitter"></i></a></li>
                                    <li><a class="si-instagramorange" href="javascript:;"><i
                                            class="fa fa-instagram"></i><i
                                            class="fa fa-instagram"></i></a></li>
                                </ul><!-- .social-icons end -->

                            </div><!-- .fb-row end -->

                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->

            </div><!-- .footer-bar-wrap -->

        </div><!-- #footer-bar-2 end -->

    </footer><!-- #footer end -->

    <div class="side-panel-menu">
        <div class="mobile-side-panel-menu">
            <ul id="menu-mobile" class="menu-mobile">

            </ul><!-- .mobile-menu-categories end -->
        </div><!-- .mobile-side-panel-menu end -->
    </div><!-- .side-panel-menu end -->

</div><!-- #full-container end -->

<a class="scroll-top-icon scroll-top" href="javascript:;"><i class="fa fa-angle-up"></i></a>

<!-- External JavaScripts
============================================= -->
<script src="../static/js/jquery.js"></script>
<script src="../static/js/jRespond.min.js"></script>
<script src="../static/js/jquery.fitvids.js"></script>
<script src="../static/js/superfish.js"></script>
<script src="../static/scss/slick/slick.min.js"></script>
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/scrollIt.min.js"></script>
<script src='../static/js/functions.js'></script>

</body>
</html>
