<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="../static/img/logo_tju_2.png">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
    <title>天津大学软件分析实验室</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i&display=swap" rel="stylesheet">
    <link href="../static/css/css_page4/style.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="animsition">
    <div class="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <div class="click-capture"></div>

    <div class="menu">
        <span class="close-menu icon-cross2 right-boxed"></span>
        <ul class="menu-list right-boxed">
            <li data-menuanchor="page1">
                <a href="#page1">首页</a>
            </li>
            <li data-menuanchor="page2">
                <a href="#page2">实验室概况</a>
            </li>
            <li data-menuanchor="page3">
                <a href="#page3">实验室成员</a>
            </li>
            <li data-menuanchor="page4">
                <a href="#page4">实验室工作</a>
            </li>
            <li data-menuanchor="page5">
                <a href="#page5">实验室项目</a>
            </li>
            <li data-menuanchor="page6">
                <a href="#page6">其他信息</a>
            </li>
            <li data-menuanchor="page7">
                <a href="#page7">联系我们</a>
            </li>
        </ul>
        <div class="menu-footer right-boxed">
            <div class="social-list">
                <a href="" class="icon ion-social-twitter"></a>
                <a href="" class="icon ion-social-facebook"></a>
                <a href="" class="icon ion-social-googleplus"></a>
                <a href="" class="icon ion-social-linkedin"></a>
                <a href="" class="icon ion-social-dribbble-outline"></a>
            </div>
        </div>
    </div>

    <header class="navbar boxed">
        <div class="navbar-bg"></div>
        <a class="brand" href="#">
            <img alt="" src="../static/img/logo_tju_3.png" style="width: 10%;height: 20%">
            <div class="brand-info">
                <div class="brand-name">天津大学软件分析实验室</div>
            </div>
        </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse"
                aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </header>
    <div class="copy-bottom white boxed">© 天津大学软件分析实验室</div>
    <div class="social-list social-list-bottom boxed">
        <a href="" class="icon ion-social-twitter"></a>
        <a href="" class="icon ion-social-facebook"></a>
        <a href="" class="icon ion-social-googleplus"></a>
        <a href="" class="icon ion-social-linkedin"></a>
        <a href="" class="icon ion-social-dribbble-outline"></a>
    </div>
    <div class="pagepiling">
        <div data-anchor="page1" class="pp-scrollable text-white section section-1">
            <div class="scroll-wrap">
                <div class="section-bg" style="background-image:url(../static/img/img_sky.jpeg);"></div>
                <div class="scrollable-content">
                    <div class="vertical-centred">
                        <div class="boxed boxed-inner">
                            <div class="vertical-title d-none d-lg-block"><span>Welcome</span></div>
                            <div class="boxed">
                                <div class="container">
                                    <div class="intro">
                                        <div class="row">
                                            <div class="col-md-8 col-lg-6">
                                                <p class="subtitle-top">欢迎来到</p>
                                                <h2 class="display-2 text-white"><span
                                                        class="text-primary">天津大学</span><br>
                                                    软件分析实验室</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-anchor="page2" class="pp-scrollable section section-2">
            <div class="scroll-wrap">
                <div class="scrollable-content">
                    <div class="vertical-centred">
                        <div class="boxed boxed-inner">
                            <div class="vertical-title text-white  d-none d-lg-block"><span>what I do</span></div>
                            <div class="boxed">
                                <div class="container">
                                    <div class="intro">
                                        <h2 class="title-uppercase mb-5 pb-5">实验室
                                            <span class="text-primary">概况</span></h2>
                                        <div class="row-specialization row">
                                            <div class="col-specialization col-md-6 col-lg-4">
                                                <span class="icon-specialization icon-laptop-phone"></span>
                                                <h4 class="text-uppercase">详细介绍1</h4>
                                                <p>内容1</p>
                                            </div>
                                            <div class="col-specialization col-md-6 col-lg-4">
                                                <span class="icon-specialization icon-smartphone-embed"></span>
                                                <h4 class="text-uppercase">详细介绍2</h4>
                                                <p>内容2</p>
                                            </div>
                                            <div class="col-specialization col-md-6 col-lg-4">
                                                <span class="icon-specialization icon-diamond2"></span>
                                                <h4 class="text-uppercase">详细介绍3</h4>
                                                <p>内容3</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-anchor="page3" class="pp-scrollable text-white section section-3">
            <div class="scroll-wrap">
                <div class="section-bg mask" style="background-image:url(../static/img/img_west.jpeg);"></div>
                <div class="scrollable-content">
                    <div class="vertical-centred">
                        <div class="boxed boxed-inner">
                            <div class="vertical-title d-none d-lg-block"><span>Resume</span></div>
                            <div class="boxed">
                                <div class="container">
                                    <div class="intro">
                                        <div class="row row-resume">
                                            <div class="col-md-6">
                                                <h2 class="resume-header title-uppercase">标题1</h2>
                                                <div class="col-resume">
                                                    <div class="resume-content">
                                                        <div class="resume-inner">
                                                            <div class="resume-row">
                                                                <h6 class="resume-type">下标题1</h6>
                                                                <i class="resume-study">内容1</i>
                                                                <p class="resume-text">详细内容1</p>
                                                            </div>
                                                            <div class="resume-row">
                                                                <h6 class="resume-type">下标题1</h6>
                                                                <i class="resume-study">内容1</i>
                                                                <p class="resume-text">详细内容1</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 pt-md-5 mt-md-5">
                                                <h2 class="resume-header title-uppercase">标题2</h2>
                                                <div class="col-resume">
                                                    <div class="resume-content">
                                                        <div class="resume-inner">
                                                            <div class="resume-row">
                                                                <h6 class="resume-type">下标题2</h6>
                                                                <i class="resume-study">内容2</i>
                                                                <p class="resume-text">详细内容2</p>
                                                            </div>
                                                            <div class="resume-row">
                                                                <h6 class="resume-type">下标题2</h6>
                                                                <i class="resume-study">内容2</i>
                                                                <p class="resume-text">详细内容2</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/smoothscroll.js"></script>
<script src="../static/js/animsition.js"></script>
<script src="../static/js/jquery.validate.min.js"></script>
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/jquery.pagepiling.min.js"></script>

<script src="../static/js/scripts.js"></script>
</body>
</html>