<!DOCTYPE html>
<html lang="en-US">

<head>

    <!-- Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="IT Geeks">
    <!-- description -->
    <meta name="description" content="">
    <!-- keywords -->
    <meta name="keywords" content="">

    <!-- Stylesheets
    ============================================= -->
    <link href="../static/css/css-assets_page3.css" rel="stylesheet">
    <link href="../static/css/style_page3.css" rel="stylesheet">

    <!-- Favicon
    ============================================= -->
    <link rel="shortcut icon" href="images/general-elements/favicon/favicon.png">
    <link rel="apple-touch-icon" href="images/general-elements/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/general-elements/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/general-elements/favicon/apple-touch-icon-114x114.png">

    <!-- Title
    ============================================= -->
    <title>天津大学软件分析实验室</title>

</head>

<body class="homepage">

<!-- Website Loading
============================================= -->
<div id="website-loading">
    <a class="logo logo-loader">
        <img src="../static/img/logo_tju.png">
    </a><!-- .logo end -->
    <div class="loader">
        <div class="la-ball-pulse la-2x">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div><!-- .loader end -->
</div><!-- .website-loading end -->

<!-- Document Full Container
============================================= -->
<div id="full-container">

    <!-- Header
    ============================================= -->
    <header id="header">

        <div id="header-bar-1" class="header-bar sticky">

            <div class="header-bar-wrap">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="hb-content">
                                <a class="logo logo-header" target="_blank" href="http://www.tju.edu.cn">
                                    <img src="../static/img/logo_tju_3.png">
                                </a><!-- .logo end -->
                                <ul id="menu-main" class="menu-main">
                                    <li><a href="#banner" data-scroll-nav="0" class="current">主页</a></li>
                                    <li><a href="#what-we-do" data-scroll-nav="1">实验室概况</a></li>
                                    <li><a href="#video-watch" data-scroll-nav="2">实验室成员</a></li>
                                    <li><a href="#our-projects" data-scroll-nav="3">实验室工作</a></li>
                                    <li><a href="#pricing-plans" data-scroll-nav="4">其他信息</a></li>
                                    <li><a href="#newsletter-subscribe" data-scroll-nav="5">联系我们</a></li>
                                </ul><!-- #menu-main end -->
                                <div class="menu-mobile-btn">
                                    <div class="hamburger hamburger--slider">
											<span class="hamburger-box">
												<span class="hamburger-inner"></span>
											</span>
                                    </div>
                                </div><!-- .menu-mobile-btn end -->
                                <a href="javascript:;" class="btn-search"><i class="fas fa-search"></i></a>
                            </div><!-- .hb-content end -->

                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->

            </div><!-- .header-bar-wrap -->

        </div><!-- #header-bar-1 end -->

    </header><!-- #header end -->

    <!-- Banner
    ============================================= -->
    <section id="banner" data-scroll-index="0">

        <div class="banner-parallax" data-banner-height="750">
            <div class="slider-banner">
                <ul class="slick-slider slider-img-bg">
                    <li>
                        <div class="overlay-colored color-bg-dark opacity-70"></div><!-- .overlay-colored end -->
                        <div class="slide">
                            <img src="../static/img/img_dou.jpeg" alt="">
                            <div class="slide-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">

                                            <div class="banner-center-box text-white text-center">
                                                <h3>欢迎来到</h3>
                                                <h1>
                                                    天津大学软件分析实验室
                                                </h1>
                                                <a class="btn colorful large hover-dark mt-30 move-top"
                                                   href="#">了解更多</a>
                                            </div><!-- .banner-center-box end -->

                                        </div><!-- .col-md-10 end -->
                                    </div><!-- .row end -->
                                </div><!-- .container end -->
                            </div><!-- .slide-content end -->
                        </div><!-- .slide end -->
                    </li>
                    <li>
                        <div class="overlay-colored color-bg-dark opacity-70"></div><!-- .overlay-colored end -->
                        <div class="slide">
                            <img src="../static/img/img_west.jpeg" alt="">
                            <div class="slide-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">

                                            <div class="banner-center-box text-white text-center">
                                                <h5>欢迎页2</h5>
                                                <h1>
                                                    欢迎页2导语
                                                </h1>
                                                <a class="btn colorful large hover-dark mt-30 move-top"
                                                   href="#">了解更多</a>
                                            </div><!-- .banner-center-box end -->

                                        </div><!-- .col-md-10 end -->
                                    </div><!-- .row end -->
                                </div><!-- .container end -->
                            </div><!-- .slide-content end -->
                        </div><!-- .slide end -->
                    </li>
                </ul><!-- .slick-slider end -->
            </div><!-- .slider-banner end -->
        </div><!-- .banner-parallax end -->

    </section><!-- #banner end -->

    <!-- Content
    ============================================= -->
    <section id="content">

        <div id="content-wrap">

            <!-- === What We Do =========== -->
            <div id="what-we-do" class="section-flat" data-scroll-index="1">

                <div class="section-content">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">

                                <div class="section-title text-center">
                                    <h5>实验室概况</h5>
                                    <h3>内容1</h3>
                                    <p>
                                        具体介绍1
                                    </p>
                                </div><!-- .section-title end -->

                            </div><!-- .col-md-8 end -->
                            <div class="col-md-4">

                                <div class="box-info box-service-1">
                                    <div class="box-icon">
                                        <i class="far fa-hand-pointer"></i>
                                    </div><!-- .box-icon end -->
                                    <div class="box-content">
                                        <h4><a href="javascript:;">详细内容1</a></h4>
                                        <p>
                                            详细介绍1
                                        </p>
                                    </div><!-- .box-content end -->
                                </div><!-- .box-info box-service-1 end -->

                            </div><!-- .col-md-4 end -->
                            <div class="col-md-4">

                                <div class="box-info box-service-1 mt-md-50">
                                    <div class="box-icon">
                                        <i class="fas fa-city"></i>
                                    </div><!-- .box-icon end -->
                                    <div class="box-content">
                                        <h4><a href="javascript:;">详细内容2</a></h4>
                                        <p>
                                            详细介绍2
                                        </p>
                                    </div><!-- .box-content end -->
                                </div><!-- .box-info box-service-1 end -->

                            </div><!-- .col-md-4 end -->
                            <div class="col-md-4">

                                <div class="box-info box-service-1 mt-md-50">
                                    <div class="box-icon">
                                        <i class="fas fa-tasks"></i>
                                    </div><!-- .box-icon end -->
                                    <div class="box-content">
                                        <h4><a href="javascript:;">详细内容3</a></h4>
                                        <p>
                                            详细介绍3
                                        </p>
                                    </div><!-- .box-content end -->
                                </div><!-- .box-info box-service-1 end -->

                            </div><!-- .col-md-4 end -->
                            <div class="col-md-12">

                                <a class="btn colorful medium hover-dark mt-50 center-horizontal" href="#">了解更多</a>

                            </div><!-- .col-md-12 end -->
                        </div><!-- .row end -->
                    </div><!-- .container end -->

                </div><!-- .section-content end -->

            </div><!-- .section-flat end -->

            <!-- === About Us =========== -->
            <div id="about-us" class="section-flat" data-scroll-index="2">

                <div class="section-content">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 pt-60 pt-md-0">

                                <div class="section-title">
                                    <h5>实验室成员</h5>
                                    <h2>成员简介</h2>
                                    <p>
                                        介绍内容
                                    </p>
                                    <a class="btn-rm" href="javascript:;">了解更多<i
                                            class="fas fa-long-arrow-alt-up"></i></a>
                                </div><!-- .section-title end -->

                            </div><!-- .col-md-6 end -->
                            <div class="col-md-6 mt-md-60">

                                <div class="img-preview img-featured">
                                    <img class="img-1" src="../static/img/img_lake.jpeg" alt=""
                                         style="height: 100%;width: 70%">
                                    <img class="img-2" src="../static/img/img_west.jpeg" alt=""
                                         style="height: 100%;width: 70%">
                                </div><!-- .img-preview end -->

                            </div><!-- .col-md-6 end -->

                        </div><!-- .row end -->
                    </div><!-- .container end -->

                </div><!-- .section-content end -->

            </div><!-- .section-flat end -->

            <!-- === Our Projects =========== -->
            <div id="our-projects" class="section-flat" data-scroll-index="3">

                <div class="section-content">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">

                                <div class="section-title text-center">
                                    <h4>实验室工作</h4>
                                    <h2>内容介绍</h2>
                                    <p>
                                        概况介绍
                                    </p>
                                </div><!-- .section-title end -->

                            </div><!-- .col-md-8 end -->
                        </div><!-- .row end -->
                    </div><!-- .container end -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="slider-projects">
                                    <ul class="slick-slider">
                                        <li>
                                            <div class="box-preview box-project">
                                                <div class="box-img img-bg">
                                                    <a href="javascript:;"><img
                                                            src="../static/img/item_5.jpg" alt=""></a>
                                                    <div class="overlay">
                                                        <div class="overlay-inner">
                                                            <a href="https://vimeo.com/45830194"
                                                               class="icon-fullscreen lightbox-iframe"><i
                                                                    class="fas fa-compress"></i></a>
                                                            <h4><a href="javascript:;">详细介绍1</a></h4>

                                                            <ul class="project-categories">
                                                                <li><a href="javascript:;">内容</a>,</li>
                                                                <li><a href="javascript:;">内容</a></li>
                                                            </ul><!-- .project-categories end -->
                                                        </div><!-- .overlay-inner end -->
                                                    </div><!-- .overlay end -->
                                                </div><!-- .box-img end -->
                                            </div><!-- .box-preview end -->
                                        </li>
                                        <li>
                                            <div class="box-preview box-project">
                                                <div class="box-img img-bg">
                                                    <a href="javascript:;"><img
                                                            src="../static/img/item_6.jpg" alt=""></a>
                                                    <div class="overlay">
                                                        <div class="overlay-inner">
                                                            <a href="https://vimeo.com/45830194"
                                                               class="icon-fullscreen lightbox-iframe"><i
                                                                    class="fas fa-compress"></i></a>
                                                            <h4><a href="javascript:;">内容介绍2</a></h4>

                                                            <ul class="project-categories">
                                                                <li><a href="javascript:;">内容</a>,</li>
                                                                <li><a href="javascript:;">内容</a></li>
                                                            </ul><!-- .project-categories end -->
                                                        </div><!-- .overlay-inner end -->
                                                    </div><!-- .overlay end -->
                                                </div><!-- .box-img end -->
                                            </div><!-- .box-preview end -->
                                        </li>
                                        <li>
                                            <div class="box-preview box-project">
                                                <div class="box-img img-bg">
                                                    <a href="javascript:;"><img
                                                            src="../static/img/item_9.jpg" alt=""></a>
                                                    <div class="overlay">
                                                        <div class="overlay-inner">
                                                            <a href="https://vimeo.com/45830194"
                                                               class="icon-fullscreen lightbox-iframe"><i
                                                                    class="fas fa-compress"></i></a>
                                                            <h4><a href="javascript:;">详细介绍3</a></h4>

                                                            <ul class="project-categories">
                                                                <li><a href="javascript:;">内容</a>,</li>
                                                                <li><a href="javascript:;">内容</a></li>
                                                            </ul><!-- .project-categories end -->
                                                        </div><!-- .overlay-inner end -->
                                                    </div><!-- .overlay end -->
                                                </div><!-- .box-img end -->
                                            </div><!-- .box-preview end -->
                                        </li>
                                        <li>
                                            <div class="box-preview box-project">
                                                <div class="box-img img-bg">
                                                    <a href="javascript:;"><img
                                                            src="../static/img/item_8.jpg" alt=""></a>
                                                    <div class="overlay">
                                                        <div class="overlay-inner">
                                                            <a href="https://vimeo.com/45830194"
                                                               class="icon-fullscreen lightbox-iframe"><i
                                                                    class="fas fa-compress"></i></a>
                                                            <h4><a href="javascript:;">详细介绍4</a></h4>

                                                            <ul class="project-categories">
                                                                <li><a href="javascript:;">内容</a>,</li>
                                                                <li><a href="javascript:;">内容</a></li>
                                                            </ul><!-- .project-categories end -->
                                                        </div><!-- .overlay-inner end -->
                                                    </div><!-- .overlay end -->
                                                </div><!-- .box-img end -->
                                            </div><!-- .box-preview end -->
                                        </li>
                                    </ul><!-- .slick-slider end -->
                                </div><!-- .slider-projects end -->
                                <a class="btn colorful medium hover-dark mt-50 center-horizontal" href="#">查看更多</a>

                            </div><!-- .col-md-12 end -->
                        </div><!-- .row end -->
                    </div><!-- .container-fluid end -->

                </div><!-- .section-content end -->

            </div><!-- .section-flat end -->


            <!-- === Our Blog =========== -->
            <div id="our-blog" class="section-flat" data-scroll-index="4">

                <div class="section-content">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">

                                <div class="section-title text-center">
                                    <h5>其他信息</h5>
                                    <h2>实验室成员</h2>
                                    <p>
                                        介绍
                                    </p>
                                </div><!-- .section-title end -->

                            </div><!-- .col-md-8 end -->
                            <div class="col-md-12">

                                <div class="slider-blog-posts">
                                    <ul class="slick-slider">
                                        <li>
                                            <div class="box-preview box-blog-post">
                                                <div class="box-img img-bg">
                                                    <a href="javascript:;"><img src="../static/img/item_5.jpg"
                                                                                alt=""></a>
                                                    <div class="overlay">
                                                        <div class="overlay-inner">

                                                        </div><!-- .overlay-inner end -->
                                                    </div><!-- .overlay end -->
                                                </div><!-- .box-img end -->
                                                <div class="box-content">
                                                    <h4><a href="javascript:;">名称</a></h4>
                                                    <p>
                                                        简介
                                                    </p>
                                                    <a class="btn-rm" href="javascript:;">了解更多<i
                                                            class="fas fa-long-arrow-alt-up"></i></a>
                                                </div><!-- .box-content end -->
                                            </div><!-- .box-preview end -->
                                        </li>
                                        <li>
                                            <div class="box-preview box-blog-post">
                                                <div class="box-img img-bg">
                                                    <a href="javascript:;"><img src="../static/img/item_6.jpg"
                                                                                alt=""></a>
                                                    <div class="overlay">
                                                        <div class="overlay-inner">

                                                        </div><!-- .overlay-inner end -->
                                                    </div><!-- .overlay end -->
                                                </div><!-- .box-img end -->
                                                <div class="box-content">
                                                    <h4><a href="javascript:;">成员2</a></h4>
                                                    <p>
                                                        简介
                                                    </p>
                                                    <a class="btn-rm" href="javascript:;">了解更多<i
                                                            class="fas fa-long-arrow-alt-up"></i></a>
                                                </div><!-- .box-content end -->
                                            </div><!-- .box-preview end -->
                                        </li>
                                        <li>
                                            <div class="box-preview box-blog-post">
                                                <div class="box-img img-bg">
                                                    <a href="javascript:;"><img src="../static/img/item_8.jpg"
                                                                                alt=""></a>
                                                    <div class="overlay">
                                                        <div class="overlay-inner">

                                                        </div><!-- .overlay-inner end -->
                                                    </div><!-- .overlay end -->
                                                </div><!-- .box-img end -->
                                                <div class="box-content">
                                                    <h4><a href="javascript:;">成员3</a></h4>
                                                    <p>
                                                        简介
                                                    </p>
                                                    <a class="btn-rm" href="javascript:;">了解更多<i
                                                            class="fas fa-long-arrow-alt-up"></i></a>
                                                </div><!-- .box-content end -->
                                            </div><!-- .box-preview end -->
                                        </li>
                                    </ul><!-- .slick-slider end -->
                                </div><!-- .slider-blog-posts end -->

                            </div><!-- .col-md-12 end -->
                        </div><!-- .row end -->
                    </div><!-- .container end -->

                </div><!-- .section-content end -->

            </div><!-- .section-flat end -->

        </div><!-- #content-wrap -->

    </section><!-- #content end -->

    <!-- Footer
    ============================================= -->
    <footer id="footer">

        <div id="footer-bar-1" class="footer-bar text-white" data-scroll-index="5">

            <div class="footer-bar-wrap">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="fb-row">

                                <div class="row">
                                    <div class="col-md-3">

                                        <img class="mb-30" src="../static/img/logo_tju_3.png" alt="">
                                        <ul class="list-contact-info">
                                            <li>
                                                <i class="fas fa-envelope"></i>
                                                <div class="info-content">
                                                    <span>tju@email.com</span>
                                                </div><!-- .info-content end -->
                                            </li>
                                            <li>
                                                <i class="fas fa-phone"></i>
                                                <div class="info-content">
                                                    <span>123456</span>
                                                </div><!-- .info-content end -->
                                            </li>
                                            <li>
                                                <i class="fas fa-map-marker-alt"></i>
                                                <div class="info-content">
                                                    <span>地址</span>
                                                </div><!-- .info-content end -->
                                            </li>
                                        </ul><!-- .list-contact-info end -->

                                    </div><!-- .col-md-3 end -->
                                    <div class="col-md-3 mt-md-50">
                                        <h4>
                                            其他功能1
                                        </h4>
                                        <ul class="list-links">
                                            <li><a href="javascript:;">可点链接1</a></li>
                                            <li><a href="javascript:;">可点链接2</a></li>
                                            <li><a href="javascript:;">可点链接3</a></li>
                                            <li><a href="javascript:;">可点链接4</a></li>
                                            <li><a href="javascript:;">可点链接5</a></li>
                                        </ul><!-- .list-links -->
                                    </div><!-- .col-md-3 end -->
                                    <div class="col-md-3 mt-md-50">
                                        <h4>
                                            其他功能2
                                        </h4>
                                        <ul class="list-links">
                                            <li><a href="javascript:;">可点链接1</a></li>
                                            <li><a href="javascript:;">可点链接2</a></li>
                                            <li><a href="javascript:;">可点链接3</a></li>
                                            <li><a href="javascript:;">可点链接4</a></li>
                                            <li><a href="javascript:;">可点链接5</a></li>
                                        </ul><!-- .list-links -->
                                    </div><!-- .col-md-3 end -->
                                </div><!-- .row end -->

                            </div><!-- .fb-row end -->

                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->

            </div><!-- .footer-bar-wrap -->

        </div><!-- #footer-bar-1 end -->

        <div id="footer-bar-2" class="footer-bar text-white">

            <div class="footer-bar-wrap">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="fb-row">
                                <ul class="social-icons x4 grey hover-white icon-only">
                                    <li><a class="si-youtube" href="javascript:;"><i class="fa fa-youtube"></i><i
                                            class="fa fa-facebook"></i></a></li>
                                    <li><a class="si-twitter" href="javascript:;"><i class="fa fa-twitter"></i><i
                                            class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a class="si-facebook" href="javascript:;"><i class="fa fa-facebook"></i><i
                                            class="fa fa-twitter"></i></a></li>
                                    <li><a class="si-instagramorange" href="javascript:;"><i
                                            class="fa fa-instagram"></i><i
                                            class="fa fa-instagram"></i></a></li>
                                </ul><!-- .social-icons end -->

                            </div><!-- .fb-row end -->

                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->

            </div><!-- .footer-bar-wrap -->

        </div><!-- #footer-bar-2 end -->

    </footer><!-- #footer end -->

    <div class="side-panel-menu">
        <div class="mobile-side-panel-menu">
            <ul id="menu-mobile" class="menu-mobile">

            </ul><!-- .mobile-menu-categories end -->
        </div><!-- .mobile-side-panel-menu end -->
    </div><!-- .side-panel-menu end -->

</div><!-- #full-container end -->

<a class="scroll-top-icon scroll-top" href="javascript:;"><i class="fa fa-angle-up"></i></a>

<!-- External JavaScripts
============================================= -->
<script src="../static/js/jquery.js"></script>
<script src="../static/js/jRespond.min.js"></script>
<script src="../static/js/jquery.fitvids.js"></script>
<script src="../static/js/superfish.js"></script>
<script src="../static/scss/slick/slick.min.js"></script>
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/scrollIt.min.js"></script>
<script src='../static/js/functions_page3.js'></script>

</body>
</html>
